<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add people</title>
</head>
<body>

<form method="POST" action="/people">
<!--  label вообще помечают поля какие данные надо вводить:-->
  <label for="name">Name</label>
<!--  input это тег, который создает поле для ввода-->
  <input name="name" type="text" id="name"/>

  <br>

  <label for="surname">Surname</label>
  <input name="surname" type="text" id="surname"/>

  <br>

  <label for="age">Surname</label>
  <input name="age" type="text" id="age"/>

  <br>

  <label for="email">Email</label>
  <input name="email" type="text" id="email"/>

  <br>

  <input type="submit" value="Add Person"/>

</form>

</body>
</html>