<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>My app</title>
</head>

<body>

<div class="container">
    class="container">
    <h3 style="..." class="text-center display-4 font-weight-bold pt-5">Thymeleaf course</h3>
</div>

<div class="container">
    <label for="defaultName">1. Example with th:text="${...}"</label>
    <input id="defaultName" style="..." type="text" name="userName" value="James Carrot" th:value="${defaultName}" />
</div>

</body>

</html>